aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Caching==1.10.1
frozenlist==1.2.0
gunicorn==20.1.0
halo==0.0.31
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
log-symbols==0.0.14
MarkupSafe==2.0.1
multidict==5.2.0
python-dotenv==0.19.0
python-weather==0.3.7
redis==3.5.3
requests==2.26.0
rq==1.10.0
six==1.16.0
spinners==0.0.24
termcolor==1.1.0
typing_extensions==4.0.0
urllib3==1.26.6
Werkzeug==2.0.1
xmltodict==0.12.0
yarl==1.7.2
